body {
   --body-background-color: #120d03 !important;
   --notice-info-background: #3f2f0d !important;
   --notice-info-border-color: #967020 !important;
   --form-button-background: #1b1405 !important;
   --form-button-hover-background: #44330e !important;
   --form-button-text-color: #ffe2a7 !important;
   --form-button-border-color: #ab9d7f !important;
   --form-button-active-background: #b59e6c !important;
   --post-artist-commentary-container-background: #302610 !important;
   --post-artist-commentary-container-border-color: #ab9d7f !important;
   --post-search-notice-background: #302610 !important;
   --post-notice-border-color: var(--post-artist-commentary-container-border-color) !important;
   --post-pending-notice-background: #4f390c !important;
   --post-resized-notice-background: #392a0c !important;
   --link-color: #84c4ff !important;
   --link-hover-color: #e5f9ff !important;
   --post-tooltip-background-color: var(--post-artist-commentary-container-background) !important;
   --post-tooltip-header-background-color: var(--post-tooltip-background-color) !important;
   --post-tooltip-border-color: var(--notice-info-border-color) !important;
   --box-shadow-color: #7e745c !important;
   --subnav-menu-border-b: #836a35 !important;
   --subnav-menu-border-t: #d49100 !important;
   --subnav-menu-grad-b: #30260e !important;
   --subnav-menu-grad-t: #5b3e00 !important;
   --textbox-grad-b: #0b0802 !important;
   --textbox-grad-t: #2b210d !important;
   --chip-primary-background-color: #281e09 !important;
   --default-border-color: #624d20 !important;
   --autosuggestions-box-background: #000000 !important;
   --responsive-menu-background-color: #30260e !important;
}
