body {
  --body-background-color: #0a1012 !important;
  --notice-info-background: #25383f !important;
  --notice-info-border-color: #578596 !important;
  --form-button-background: #0f181b !important;
  --form-button-hover-background: #273c44 !important;
  --form-button-text-color: #a7e7ff !important;
  --form-button-border-color: #7f9fab !important;
  --form-button-active-background: #6ca2b5 !important;
  --post-artist-commentary-container-background: #102830 !important;
  --post-artist-commentary-container-border-color: #7f9fab !important;
  --post-search-notice-background: #102830 !important;
  --post-notice-border-color: var(--post-artist-commentary-container-border-color) !important;
  --post-pending-notice-background: #0c3d4f !important;
  --post-resized-notice-background: #0c2d39 !important;
  --link-color: #84deff !important;
  --link-hover-color: #e5f8ff !important;
  --post-tooltip-background-color: var(--post-artist-commentary-container-background) !important;
  --post-tooltip-header-background-color: var(--post-tooltip-background-color) !important;
  --post-tooltip-border-color: var(--notice-info-border-color) !important;
  --box-shadow-color: #5c767e !important;
  --subnav-menu-border-b: #356e83 !important;
  --subnav-menu-border-t: #009cd4 !important;
  --subnav-menu-grad-b: #0e2730 !important;
  --subnav-menu-grad-t: #00425b !important;
  --textbox-grad-b: #02090b !important;
  --textbox-grad-t: #0d232b !important;
  --chip-primary-background-color: #092028 !important;
  --default-border-color: #205162 !important;
  --autosuggestions-box-background: #000000 !important;
  --responsive-menu-background-color: #0e2730 !important;
}
