tr#favorite-group-34398 td.name-column a:first-child {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1409/1409942.png) !important;
}

tr#favorite-group-36181 td.name-column a:first-child {
    background-image: url(https://cdn.donmai.us/180x180/d3/0e/d30e5ca9e0604f1658e7ea8fbcc39f68.jpg) !important;
}
tr#favorite-group-34399 td.name-column a:first-child {
    background-image: url(https://cdn.donmai.us/180x180/82/2c/822c16c429dfe7fba6a9b471c2964f10.jpg) !important;
}
tr#favorite-group-36104 td.name-column a:first-child {
    background-image: url(https://cdn.donmai.us/180x180/7a/5a/7a5aa49f0c43aa325463b8b34140b836.jpg) !important;
}
tr#favorite-group-34397 td.name-column a:first-child {
    background-image: url(https://cdn.donmai.us/180x180/88/82/8882ae9df5ea296a314b86eeac13d6a0.jpg) !important;
}
