emoji[data-name="politecat"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/PoliteCat.avif');
}

emoji[data-name="really"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/really.avif');
}

emoji[data-name="blobderp"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/blobderp.avif');
}

emoji[data-name="ikusparkle"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/ikusparkle.avif');
}

emoji[data-name="kemodisgust"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/kemodisgust.avif');
}

emoji[data-name="leonice"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/leonice.avif');
}

emoji[data-name="letsfuckinggo"] img {
  content:url('https://mdpakk.github.io/DarkRetro2K/emojis/letsfuckinggo.avif');
}
